body {
    margin: auto;
}

#hero, footer {
    background-color: #1f2937;
}

#hero {
    height: 450px;
    padding: 20px 300px;
}

header {
    display: flex;
    gap: 20px;
}

.header_logo {
    margin-right: auto;
    font-size: 24px;
    color: #F9FAF8;
}

.header_link, .hero_subtext {
    font-size: 18px;
    color: #E5E7EB;
}

.hero_subtext {
    margin: 7px 0px 7px 0px;
}

.hero_main_text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.container1 {
    display: flex;
    margin-top: 12%;
}

.hero_content, .hero_img {
    flex: 1;
}

.hero_content {
    margin-right: 5px;
}

.hero_img {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
}

button {
    background-color: #3882F6;
    width: 90px;
    height: 30px;
    border-radius: 9px;
    font-weight: 800;
    color: white;
}